{% extends 'base.html' %}

{% block title %}
<title>Star Wars Character Search!</title>
<link rel="stylesheet" href="../static/styles/styles.css">
<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
{% endblock %}


{% block content %}
<header>
  <img id="main-img"src="../static/star-wars-logo.webp" alt="yellow font of star wars logo" width="700">
  <h1>Search Star Wars character!</h1>
</header>
<fieldset>
  <legend>Character Search</legend>
  <form action="/" method="GET">
    <label for="character-search">
      Type in a random number to select a character!
    </label>
    <section id="input-section">
      <input type="text" name="character-id" id="character-search">
      <input type="submit" name="search-submit" value="Search for Character!">
    </section>
  </form>
</fieldset>

<section id="form-results">
  <h2>Here is your character information!</h2>
  <p class="character-name">Your selected character was:</p>
  <p class="character-name" id="selected-character">{{character_info.name}}</p>
  <section class="information-section">
    <section>
      <h3>Information:</h3>
      <ul class="information-box">
        <li>Height (cm): {{character_info.height}}</li>
        <li>Mass (kg): {{character_info.mass}}</li>
        <li>Hair Color: {{character_info.hair_color}}</li>
        <li>Eye Color: {{character_info.eye_color}}</li>
        <li>Homeworld: {{homeworld.name}}</li>
      </ul>
    </section>  
    <section>
      <h3>List of films:</h3>
      <ul class="information-box">
        {% for film in films %}
        <li>{{film}}</li>
        {% endfor %}
      </ul>
    </section>
  </section>
</section>
{% endblock %}