{% extends 'base.html' %}

{% block title %}
Star Wars Character Search!
{% endblock %}


{% block content %}
<header>
  <h1>Search Star Wars character!</h1>
</header>
<form>
  <fieldset>
    <legend>Character Search</legend>
    <form action="/" method="GET">
      <label for="character-search">
        Type in a random number between 1 and 88 to randomly generate a character!
      </label>
      <input type="text" name="character-id" id="character-search">
      <input type="submit" name="search-submit" value="Search for Character!">
    </form>
  </fieldset>
</form>

<section id="form-results">
  <h2>Here is your character information!</h2>
  <p>Your selected character was <b>{{character_info.name}}</b></p>
</section>
{% endblock %}